body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #b6d1e9;
}

.stopwatch {
    text-align: center;
}

p{
    font-size: 80px;
    font-weight: bold;
    color: #114371;
}

.display {
    font-size: 70px;
    margin: 10px 0;
    color: #114371;
}

button {
    font-size: 40px;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 50px;
    color: #114371;
    border: 3px solid #114371;
    background: #b6d1e9;
}
button:hover{
    background: #114371;
    color: #b6d1e9;
}

.lap-list {
    color: #114371;
    font-size: 30px;
    list-style: none;
    padding: 0;
}
